<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Sign In with your <%= providerName %> account</title>
  </head>
  <body class="bg-gray-200 w-screen h-screen absolute flex items-center justify-center overflow-hidden overflow-y-auto">
    <div class="w-full max-w-xs flex-grow">

      <div class="text-center mb-3">
        <div class="text-xl font-extrabold text-blue-500"><%= client.name %></div>
        <% if(client.internal){ %>
          <div class="text-lg font-thin leading-tight">Authentification is required. Please enter your <%= providerName %> credentials.</div>
        <% } else{ %>
        <div class="leading-tight my-2">
          <div class="text-lg font-thin">Wants to access to your <%= providerName %> account.</div>
          <div class="text-sm font-semibold">You may be sharing sensitive info with this site or app. Make sure that you trust it before allow.</div>
        </div>
        <% } %>
      </div>

      <% if(error !== undefined){ %>
      <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 my-2" role="alert">
        <p class="font-bold">An error has occurred</p>
        <p><%= error.message %></p>
      </div>
       <% } %>

      <form class="bg-white shadow-sm rounded px-8 pt-6 pb-8 mb-4" method="POST" action="<%= formAction %>">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" name="username" value="<%= inputs.username %>" placeholder="Your username">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" name="password" value="<%= inputs.password %>" placeholder="Your password">
        </div>
        <div class="flex items-center justify-between">
          <a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded" href="<%= cancelUrl %>">Cancel</a>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Allow</button>
        </div>
      </form> 

      <p class="text-center text-gray-500 text-xs">
        &copy;<%= currentYear %> <%= providerName %>. All rights reserved.
      </p> 

    </div>
  </body>
</html>
